{% extends "base.html" %}
{% load static %}
{% block content %}
 
 <section class="hero-banner d-flex align-items-center">
        <div class="container text-center">
            <h2>Login</h2>
            <nav aria-label="breadcrumb" class="banner-breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Login</li>
                </ol>
            </nav>
        </div>
    </section>
    
    <section class="contact-section area-padding">
            <div class="container">
              <div class="row">
                <div class="col-12">
                  <h2 class="contact-title">Login</h2>
                </div>
                <div class="col-lg-8">
                  <form class="form-contact contact_form" action="#" method="post" id="contactForm">
                    {% csrf_token %}
                    <div class="row">
                      <div class="col-12">
                        <div class="form-group">
                            {{forms.noKTP}}
                        </div>
                      </div>
                      
                      <div class="col-12">
                        <div class="form-group">
                            {{forms.email}}
                        </div>
                      </div>
                      
                    </div>
                    <div class="form-group mt-3">
                      <button onclick="login()" type="submit" class="button">Login</button>
                    </div>
                  </form>
                  
                <div class="form-group mt-3">
                    <div class="container">
                      <button data-toggle="modal" data-target="#myModal">Create Account</button>

                      <div class="modal fade" id="myModal" role="dialog">
                        <div class="modal-dialog">
                        
                          <div class="modal-content">
                            <div class="modal-header">
                              <h4 class="modal-title">Pilih jenis akun :</h4>
                            </div>
                            <div class="modal-body">
                              <ul>
                                <li><a href="../adminReg">Buat akun Admin</a></li>
                                <li><a href="../penggunaReg">Buat akun Pengguna</a></li>
                              </ul>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                          </div>
                          
                        </div>
                      </div>
                      
                    </div>
                </div>
        
        
                </div>
        
                <div class="col-lg-4">
                    <img src="{% static 'img/banner/about2.png' %}" alt="">
                </div>
              </div>
            </div>
          </section>
          
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script>
        function login(){
            var $crf_token = $('[name="csrfmiddlewaretoken"]').attr('value');
            no_ktp = $('#KTP').val()
            email = $('#email').val()
            $.ajax({
                type: "POST",
                url: "{% url 'check' %}",
                data: {
                    no_ktp : no_ktp,
                    email : email,
                    },
                headers:{"X-CSRFToken": $crf_token},
                success: function () {
                    alert("Data anda berhasil divalidasi!")
                },
                error: function () {
                    alert("The user does not exist!")
                }
            });
        }
    </script>

{% endblock %}