{% extends "base.html" %}
{% load static %}
{% block content %}
 
 <section class="hero-banner d-flex align-items-center">
        <div class="container text-center">
            <h2>Registrasi</h2>
            <nav aria-label="breadcrumb" class="banner-breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Registrasi</li>
                </ol>
            </nav>
        </div>
    </section>
    
    <section class="contact-section area-padding">
            <div class="container">
              <div class="row">
                <div class="col-12">
                  <h2 class="contact-title">Registrasi</h2>
                </div>
                <div class="col-lg-8">
                  <form class="form-contact contact_form" action="#" method="post" id="contactForm">
                    {% csrf_token %}
                    <div class="row">
                      <div class="col-12">
                        <div class="form-group">
                            {{forms.noKTP}}
                        </div>
                      </div>

                      <div class="col-12">
                        <div class="form-group">
                            {{forms.namaLengkap}}
                        </div>
                      </div>

                      <div class="col-12">
                        <div class="form-group">
                            {{forms.email}}
                        </div>
                      </div>
                      
                      <div class="col-12">
                        <div class="form-group">
                            {{forms.ttl}}
                        </div>
                      </div>
                      
                      <div class="col-12">
                        <div class="form-group">
                            {{forms.noTelp}}
                        </div>
                      </div>
                      
                      <div class="col-12">
                        <div class="form-group">
                            {{forms.addrsName}}
                        </div>
                      </div>
                      
                      <div class="col-12">
                        <div class="form-group">
                            {{forms.addrsJalan}}
                        </div>
                      </div>
                      
                      <div class="col-12">
                        <div class="form-group">
                            {{forms.addrsNo}}
                        </div>
                      </div>
                      
                      <div class="col-12">
                        <div class="form-group">
                            {{forms.addrsKota}}
                        </div>
                      </div>
                      
                      <div class="col-12">
                        <div class="form-group">
                            {{forms.addrsKode}}
                        </div>
                      </div>
                      
                    </div>
                    <div class="form-group mt-3">
                      <button onclick="register()" type="submit" class="button">Register</button>
                    </div>
                  </form>
        
        
                </div>
        
                <div class="col-lg-4">
                    <img src="{% static 'img/banner/about2.png' %}" alt="">
                </div>
              </div>
            </div>
          </section>
    
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script>
        function register(){
            var $crf_token = $('[name="csrfmiddlewaretoken"]').attr('value');
            no_ktp = $('#KTP').val()
            name = $('#name').val()
            email = $('#email').val()
            bdate = $('#ttl').val()
            no_telp = $('#telp').val()
            aName =  $('#aName').val()
            aJalan =  $('#aJalan').val()
            aNo =  $('#aNo').val()
            aKota =  $('#aKota').val()
            aKode =  $('#aKode').val()
            $.ajax({
                type: "POST",
                url: "{% url 'postPengguna' %}",
                data: {
                    no_ktp : no_ktp,
                    nama_lengkap : name,
                    email : email,
                    tanggal_lahir : bdate,
                    no_telp : no_telp,
                    aName =  aName,
                    aJalan =  aJalan,
                    aNo =  aNo,
                    aKota =  aKota,
                    aKode =  aKode,
                    },
                headers:{"X-CSRFToken": $crf_token},
                success: function () {
                    alert("Pengguna berhasil didaftarkan!")
                },
                error: function () {
                    alert("Pengguna dengan nomor KTP dan/atau email yang bersangkutan sudah terdaftar!")
                }
            });
        }
    </script>

{% endblock %}