{% extends "base.html" %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

<!--================Hero Banner Area Start =================-->
<section class="hero-banner d-flex align-items-center">
        <div class="container text-center">
            <h2>Daftar Barang</h2>
            <nav aria-label="breadcrumb" class="banner-breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Daftar Barang</li>
                </ol>
            </nav>
        </div>
    </section>
    <!--================Hero Banner Area End =================-->

    <!-- ================ daftar level section start ================= -->
    <br><br>
            <div class="container">
              <div class="row">
                <div class="col-12">
                  <h2 class="contact-title">Daftar Barang</h2>
                </div>
                <div class="col-lg-12">
                        <table class="table text-center">
                                <thead>
                                  <tr style="color:black">
                                    <th scope="col">ID Barang</th>
                                    <th scope="col">Nama Item</th>
                                    <th scope="col">Warna</th>
                                    <th scope="col">Kondisi</th>
                                    <th scope="col">Action</th>
                                  </tr>
                                </thead>
                                <tbody style="color:black">
                                    {% for i in pilihan_barang %}
                                  <tr>
                                    <th scope="row">{{ i.0 }}</th>
                                    <td>{{ i.1 }}</td>
                                    <td>{{ i.2 }}</td>
                                    <td><a href="{{ i.3 }}" target="_blank">{{ i.3 }}</a></td>
                                    <td><button type="button" class="btn btn-info btn-xs" data-toggle="modal" data-target="#detail1">
                                        <i class="far fa-info"></i></button>
                                        {% if request.session.jenis_akun == 'admin'%}
                                        <button type="button" class="btn btn-light btn-xs" data-toggle="modal" data-target="#update1"><i class="far fa-edit"></i></button>
                                        <button type="button" class="btn btn-danger btn-xs" data-toggle="modal" data-target="#delete"><i class="fas fa-trash"></i></button>
                                        {% endif %}
                                        <a href="#" class="btn btn-light btn-sm" role="button">Checklist</a>
                                    </td>
                                  </tr>
                                  {% endfor %}
                                </tbody>
                              </table>
                </div>
                <div>
                    <ul class="pagination" style="margin-left:auto; margin-right:auto">
                        <li class="page-item">
                          <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                          </a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                          <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                          </a>
                       </li>
                    </ul>
                </div>
              </div>
            </div>
          </section>

    <!-- ================ daftar level section end ================= -->

    <!-- ================ MODAL  ================= -->

    <div class="modal fade" id="update1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">Update Barang</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                        <div class="col-lg-12">
                                <form class="form-contact contact_form" action="#" method="post" id="contactForm">
                                  <div class="row">
                                    <div class="col-12">
                                      <div class="form-group">
                                            {{forms.id_barang_update}}
                                      </div>
                                      <div class="form-group">
                                          {{forms.nama_item_update}}
                                      </div>
                                      <div class="form-group">
                                          {{forms.warna_item_update}}
                                      </div>
                                      <div class="form-group">
                                          {{forms.url_foto_update}}
                                      </div>
                                      <div class="form-group">
                                            {{forms.kondisi_update}}
                                        </div>
                                        <div class="form-group">
                                            {{forms.lama_penggunaan_update}}
                                        </div>
                                        <div class="form-group">
                                            {{forms.pemilik_update}}
                                        </div>
                                        <div class="form-group">
                                            <b>Info Barang</b><br>
                                            <ul>
                                                <li>Bronze<br>Persen royalti: 5 (%) &nbsp&nbsp Harga sewa: 30.000 (Rupiah/minggu)</li>
                                                <li>Silver<br>Persen royalti: 10 (%) &nbsp&nbsp Harga sewa: 25.000 (Rupiah/minggu)</li>
                                                <li>Gold<br>Persen royalti: 15 (%) &nbsp&nbsp Harga sewa: 20.000 (Rupiah/minggu)</li>
                                            </ul>
                                        </div>
                                    </div>
                                  </div>
                                  <button type="submit" class="button" style="width: 100%;">Update</button>
                                </form>
                        </div>
                </div>
              </div>
            </div>
          </div>

          <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLongTitle">Delete</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      Apakah benar anda ingin menghapus barang tersebut?
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">TIDAK</button>
                      <button type="button" class="btn btn-danger btn-primary">YA</button>
                    </div>
                  </div>
                </div>
              </div>

              <div class="modal fade" id="detail1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLongTitle">Detail</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                            <ul>
                                <li><b>ID Barang:</b>&nbsp;8466087060</li>
                                <li><b>Nama Item:</b>&nbsp;Konklux</li>
                                <li><b>Warna:</b>&nbsp;merah</li>
                                <li><b>URL Foto:</b><a href="http://dummyimage.com/216x119.jpg/cc0000/ffffff">&nbsp;http://dummyimage.com/216x119.jpg/cc0000/ffffff</a></li>
                                <li><b>Kondisi:</b>&nbsp;new</li>
                                <li><b>Lama Penggunaan:</b>&nbsp;1 bulan</li>
                                <li><b>Pemilik/Penyewa:</b>&nbsp;8143794563</li>
                                <li><b>Daftar Review:</b>
                                    <ul>
                                        <li>Bagus banget, realistik sekali</li>
                                        <li>Panahnya sakit</li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <!-- <div class="modal-body">
                            <ul>
                                <li><b>ID Barang:</b>&nbsp;{{ id_barang }}</li>
                                <li><b>Nama Item:</b>&nbsp;{{ nama_item }}</li>
                                <li><b>Warna:</b>&nbsp;{{ warna }}</li>
                                <li><b>URL Foto:</b><a href="{{ url_foto }}">&nbsp;{{ url_foto }}</a></li>
                                <li><b>Kondisi:</b>&nbsp;{{ kondisi }}</li>
                                <li><b>Lama Penggunaan:</b>&nbsp;{{ lama_penggunaan }} bulan</li>
                                <li><b>Pemilik/Penyewa:</b>&nbsp;{{ nama_lengkap }}</li>
                                <li><b>Daftar Review:</b>
                                    <ul>
                                        <li>Bagus banget, realistik sekali</li>
                                        <li>Panahnya sakit</li>
                                    </ul>
                                </li>
                            </ul>
                        </div> -->
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Pesan</button>
                          <button type="button" class="btn btn-danger btn-primary">Tutup</button>
                        </div>
                      </div>
                    </div>
                  </div>

    <!-- ================ MODAL  ================= -->
<script type="text/javascript">

</script>
{% endblock %}
