{% extends "base.html" %}
{% load static %}
{% block content %}

 <!--================Hero Banner Area Start =================-->
 <section class="hero-banner d-flex align-items-center">
        <div class="container text-center">
            <h2>Tambah Barang</h2>
            <nav aria-label="breadcrumb" class="banner-breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Tambah Barang</li>
                </ol>
            </nav>
        </div>
    </section>
    <!--================Hero Banner Area End =================-->

    <!-- ================ tambah level form section start ================= -->

    <section class="contact-section area-padding">
            <div class="container">
              <div class="row">
                <div class="col-12">
                  <h2 class="contact-title">Tambah Barang</h2>
                </div>
                <div class="col-lg-8">
                  <form class="form-contact contact_form" action="#" method="post" id="contactForm">
                    <div class="row">
                      <div class="col-12">
                          <div class="form-group">
                                {{forms.id_barang}}
                          </div>
                    </div>
                    <div class="col-12">
                          <div class="form-group">
                              {{forms.nama_item}}
                          </div>
                    </div>
                    <div class="col-12">
                          <div class="form-group">
                              {{forms.warna_item}}
                          </div>
                    </div>
                    <div class="col-12">
                          <div class="form-group">
                              {{forms.url_foto}}
                          </div>
                    </div>
                    <div class="col-12">
                          <div class="form-group">
                                {{forms.kondisi}}
                            </div>
                    </div>
                    <div class="col-12">
                            <div class="form-group">
                                {{forms.lama_penggunaan}}
                            </div>
                    </div>
                    <div class="col-12">
                            <div class="form-group">
                                {{forms.pemilik}}
                            </div>
                    </div>

                    <div class="col-12">
                        <b>Info Barang</b><br>
                        <ul>
                            <li>Bronze<br>Persen royalti: 5 (%) &nbsp&nbsp Harga sewa: 30.000 (Rupiah/minggu)</li>
                            <li>Silver<br>Persen royalti: 10 (%) &nbsp&nbsp Harga sewa: 25.000 (Rupiah/minggu)</li>
                            <li>Gold<br>Persen royalti: 15 (%) &nbsp&nbsp Harga sewa: 20.000 (Rupiah/minggu)</li>
                        </ul>
                    </div>

                    </div>
                    <div class="form-group mt-3">
                      <button type="submit" class="button">Submit</button>
                    </div>
                  </form>


                </div>

                <div class="col-lg-4">
                    <img src="{% static 'img/banner/about2.png' %}" alt="">
                </div>
              </div>
            </div>
          </section>
          <!-- ================ tambah level form section end ================= -->

{% endblock %}
