{% extends "base.html" %}
{% load static %}
{% block content %}

    <!--================Hero Banner Area Start =================-->
    <section class="hero-banner d-flex align-items-center">
        <div class="container text-center">
            <h2>Daftar Pesanan</h2>
            <nav aria-label="breadcrumb" class="banner-breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'homepage' %}">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Daftar Pesanan</li>
                </ol>
            </nav>
        </div>
    </section>
    <!--================Hero Banner Area End =================-->

    <!-- ================ daftar pesanan section start ================= -->
    <br><br>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="contact-title">Daftar Pesanan</h2>
            </div>
            <div class="col-lg-12">
                <table class="table text-center">
                    <thead>
                    <tr style="color:black">
                        <th scope="col">ID Pesanan</th>
                        <th scope="col">Daftar Barang</th>
                        <th scope="col">Harga</th>
                        <th scope="col">Status</th>
                        <th scope="col">Action</th>
                        <th scope="col">Action Admin</th>
                    </tr>
                    </thead>
                    <tbody style="color:black">
                    {% for i in daftar_pesanan %}
                        <tr>
                            <th scope="row">{{ i.0 }}</th>
                            <td>{{ i.1 }}</td>
                            <td>Rp. {{ i.2 }}</td>
                            <td>{{ i.3 }}</td>
                            <td>
                                <button type="button" class="btn btn-light btn-xs" data-toggle="modal"
                                        data-target="#{{ forloop.counter }}1"><i class="fa fa-bars"></i></button>
                                <!-- ================ MODAL  ================= -->

                                <div class="modal fade" id="{{ forloop.counter }}1" tabindex="-1" role="dialog"
                                     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLongTitle">Update Pesanan</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="col-lg-12">
                                                    <form class="form-contact contact_form" action="#" method="post"
                                                          id="contactForm">
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <div class="form-group">
                                                                    hahahahahah
                                                                </div>
                                                                <div class="form-group">

                                                                </div>
                                                                <div class="form-group">

                                                                </div>
                                                            </div>
                                                        </div>
                                                        <button type="submit" class="button" style="width: 100%;">
                                                            Update
                                                        </button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <button type="button" class="btn btn-danger btn-xs" data-toggle="modal"
                                        data-target="#delete"><i class="fas fa-trash"></i></button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </section>

    <!-- ================ daftar pesanan section end ================= -->

    <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Delete</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Apakah benar anda ingin menghapus pesanan tersebut?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">TIDAK</button>
                    <button type="button" class="btn btn-danger btn-primary">YA</button>
                </div>
            </div>
        </div>
    </div>

    <!-- ================ MODAL  ================= -->

{% endblock %}