{% extends "base.html" %}
{% load static %}
{% block content %}

<!--================Hero Banner Area Start =================-->
<section class="hero-banner d-flex align-items-center">
        <div class="container text-center">
            <h2>Pemesanan</h2>
            <nav aria-label="breadcrumb" class="banner-breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'homepage' %}">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Pemesanan</li>
                </ol>
            </nav>
        </div>
    </section>
    <!--================Hero Banner Area End =================-->

     <!-- ================ pesanan form section start ================= -->

     {% if request.session.jenis_akun == "admin" %}
     <section class="contact-section area-padding">
            <div class="container">
              <div class="row">
                <div class="col-12">
                  <h2 class="contact-title">Pemesanan</h2>
                </div>
                <div class="col-lg-8">
                  <form class="form-contact contact_form" action="#" method="post" id="contactForm">
                    <div class="row">
                      <div class="col-12">
                        <div class="form-group">
                            <label for="namaAnggota"><b>Anggota</b></label>
                            <select name="anggota" class="form-control selectpicker" placeholder="Nama Anggota" required>
                                {% for i in daftar_nama %}
                                    <option>{{i.0}}</option>
                                {% endfor %}
                            </select>
                        </div>
                      </div>

                      <div class="col-12">
                            <div class="form-group">
                                <label for="pilihanBarang"><b>Barang (bisa lebih dari satu dengan klik ctrl + barangnya)</b></label>
                                <select name="kategori" class="form-control selectpicker" id="pilihanBarang"  multiple data-live-search="true" required>
                                    {% for i in daftar_barang %}
                                        <option>{{i.0}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                          </div>

                    <div class="col-12">
                            <div class="form-group">
                                <label for="lamaSewa"><b>Lama Sewa</b></label>
                                <input name="bahan" type="text" id="lamaSewa" class="form-control" placeholder="dalam hari" required>
                            </div>
                          </div>
                      
                    </div>
                    <div class="form-group mt-3">
                      <button type="button" class="button" data-toggle="modal" data-target="#konfirmasi">Submit</button>
                    </div>
                  </form>
                </div>
        
                <div class="col-lg-4">
                    <img src="{% static 'img/banner/about2.png' %}" alt="">
                </div>
              </div>
            </div>
          </section>

          {% elif request.session.jenis_akun == "pengguna" %}

          <section class="contact-section area-padding">
              <div class="container">
                <div class="row">
                  <div class="col-12">
                    <h2 class="contact-title">Pemesanan</h2>
                  </div>
                  <div class="col-lg-8">
                    <form class="form-contact contact_form" action="#" method="post" id="contactForm">
                      <div class="row">
                        <div class="col-12">
                              <div class="form-group">
                                  <label for="pilihanBarang"><b>Barang (bisa lebih dari satu dengan klik ctrl + barangnya)</b></label>
                                  <select name="kategori" class="form-control selectpicker" id="pilihanBarang"  multiple data-live-search="true" required>
                                      {% for i in daftar_barang %}
                                          <option>{{i.0}}</option>
                                      {% endfor %}
                                  </select>
                              </div>
                            </div>
  
                      <div class="col-12">
                              <div class="form-group">
                                  <label for="lamaSewa"><b>Lama Sewa</b></label>
                                  <input name="bahan" type="text" id="lamaSewa" class="form-control" placeholder="dalam hari" required>
                              </div>
                            </div>
                        
                      </div>
                      <div class="form-group mt-3">
                        <button type="button" class="button" data-toggle="modal" data-target="#konfirmasi">Submit</button>
                      </div>
                    </form>
                  </div>
          
                  <div class="col-lg-4">
                      <img src="{% static 'img/banner/about2.png' %}" alt="">
                  </div>
                </div>
              </div>
            </section>
            {% endif %}
  


          <!-- ================ pesanan form section end ================= -->

          <div class="modal fade" id="konfirmasi" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLongTitle">Konfirmasi Pemesanan</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-6">
                                <p style="font-weight:bold; font-size: 1.5rem;">MAHKOTA PRINCESS X</p>
                                <p>Lama Sewa: 3 bulan</p>
                            </div>
                            <div class="col-6">
                                <span>Product Total</span><span style="float:right; font-weight: bold">Rp 100.000</span>
                                <span>Include Tax</span>
                                <hr>
                                <span style="font-weight:bold">Subtotal</span><span style="font-weight:bold; font-size:1rem; float: right; color: #0056b3">Rp 100.000</span>
                            </div>
                    </div>
                    <div class="modal-footer">
                            <button type="button" class="btn btn-danger btn-primary">BATAL</button>
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">LANJUT</button>
                    </div>
                  </div>
                </div>
              </div>
              <script>
                  $('select').selectpicker();
              </script>
          


{% endblock %}