{% extends "base.html" %}
{% load static %}
{% block content %}

<!--================Hero Banner Area Start =================-->
<section class="hero-banner d-flex align-items-center">
        <div class="container text-center">
            <h2>Daftar Review</h2>
            <nav aria-label="breadcrumb" class="banner-breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Reviews</li>
                </ol>
            </nav>
        </div>
    </section>

 <!--================Hero Banner Area End =================-->

    <!-- ================ daftar pengiriman section start ================= -->


<br><br>
            <div class="container">
              <div class="row">
                <div class="col-12">
                  <h2 class="contact-title">Daftar Review</h2>
                </div>
               <div class="md-form active-pink active-pink-2 mb-3 mt-0">
				  <input class="form-control" type="text" placeholder="Cari Review.." aria-label="Search">
				</div>
                <div class="col-lg-12">
                        <table class="table text-center">
                                <thead>
                                  <tr style="color:black">
                                    <th scope="col">Id Pengiriman</th>
                                    <th scope="col" >Barang</th>
                                    <th scope="col">Review</th>
                                    <th scope="col">Tanggal Review</th>
                                    <th scope="col">Action</th>
                                  </tr>
                                </thead>
                                <tbody style="color:black">
                                   {% for s in reviewankirim %}
                                 <tr>
                                    <td class="align-middle">{{ s.0 }}</td>
                                    <td class="align-middle">
                                        <ul>
                                          {% for i in s.5 %}
                                          <li>{{ i.0 }}</li>
                                            {% endfor %}
                                        </ul>
                                            </td>
                                    <td class="align-middle">{{ s.4 }}</td>
                                    <td class="align-middle">{{ s.3 }}</td>
                                    <td><button type="button" class="btn btn-light btn-xs" data-toggle="modal" data-target="#update1"><i class="far fa-edit"></i></button>
                                        <button type="button" class="btn btn-danger btn-xs" data-toggle="modal" data-target="#delete"><i class="fas fa-trash"></i></button>
                                  
                                    </td>
                                  </tr>
                                   {% endfor %}
                                </tbody>

                              </table>
                              <div>
                              	  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
  </ul>

                              </div>
                </div>        
              </div>
            </div>

          </section>
 <!-- ================ daftar level section end ================= -->

    <!-- ================ Update MODAL  ================= -->


 <div class="modal fade" id="update1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">Update Review</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                   <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <textarea rows="4" cols="50" name="comment" form="usrform">Utarakan Pendapatmu..</textarea>
                    </div>
                    <div class="modal-footer">
                      <button type="submit" class="button" style="width: 100%;">Kirim</button>
                    </div>
                </div>
              </div>
            </div>
          </div>

  <!-- ================ Update MODAL  ================= -->

  <!-- ================ Delete MODAL  ================= -->

          <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLongTitle">Delete</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      Apakah benar anda ingin menghapus Daftar tersebut?
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">TIDAK</button>
                      <button type="button" class="btn btn-danger btn-primary">YA</button>
                    </div>
                  </div>
                </div>
              </div>
  <!-- ================ Delete MODAL  ================= -->

{% endblock %}