{% extends "base.html" %}
{% load static %}
{% block content %}

<!--================Hero Banner Area Start =================-->
<section class="hero-banner d-flex align-items-center">
        <div class="container text-center">
            <h2>Kamu harus Login untuk mengakses Fitur ini</h2>
            <nav aria-label="breadcrumb" class="banner-breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="#">Login dulu yuk</li>
                </ol>
            </nav>
        </div>
    </section>

 <!--================Hero Banner Area End =================-->

    <!-- ================ daftar pengiriman section start ================= -->



                            

          </section>
 <!-- ================ daftar level section end ================= -->


{% endblock %}