{% extends "base.html" %}
{% load static %}
<script src="{% static 'js/tambahpengiriman.js' %}"></script>
{% block content %}
 
 <!--================Hero Banner Area Start =================-->
 <section class="hero-banner d-flex align-items-center">
        <div class="container text-center">
            <h2>Ayo Kirim Barangmu!</h2>
            <nav aria-label="breadcrumb" class="banner-breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'homepage' %}">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Pengiriman Barang</li>
                </ol>
            </nav>
        </div>
    </section>
    <!--================Hero Banner Area End =================-->

    <!-- ================ tambah pengiriman form section start ================= -->

    <section class="contact-section area-padding">
            <div class="container">
              <div class="row">
                <div class="col-12">
                  <h2 class="contact-title">Pengiriman Barang</h2>
                </div>
                <div class="col-lg-8">
                  <form  action="/tambahpengiriman/" method="post" id="contactForm">
                    <div class="row">
                      <div class="col-12">
                        <div class="form-group">
                         <label class="mdb-main-label">Barang Pesanan</label>
                       
                                {{forms.barang_pesanan}}
                      </div>
                           
                      </div>
                      <div class="col-12">
                            <div class="form-group">
                              <label class="mdb-main-label">Alamat Tujuan</label><br>
                                {{forms.alamat_tujuan}}
                            </div>
                          </div>

                    <div class="col-12">
                            <div class="form-group">
                               <label class="mdb-main-label">Tanggal Pengiriman </label><br>

                                {{forms.tanggal_pengiriman}}
                            </div>
                          </div>
                      <div class="col-12">
                            <div class="form-group">
                               <label class="mdb-main-label">Metode Pengiriman</label><br>
                                {{forms.metode}}
                            </div>
                          </div>
                      
                    </div>
                    <div class="form-group mt-3">
                      <button type="submit" class="button">Submit</button>
                    </div>
                  </form>
        
        
                </div>
        
                <div class="col-lg-4">
                    <img src="{% static 'img/banner/about2.png' %}" alt="">
                </div>
              </div>
            </div>
          </section>
          <!-- ================ tambah pengiriman form section end ================= -->

{% endblock %}
