{% extends "base.html" %}
{% load static %}
{% block content %}
 
 <!--================Hero Banner Area Start =================-->
 <section class="hero-banner d-flex align-items-center">
        <div class="container text-center">
            <h2>Tambah Level</h2>
            <nav aria-label="breadcrumb" class="banner-breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'homepage' %}">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Tambah Level</li>
                </ol>
            </nav>
        </div>
    </section>
    <!--================Hero Banner Area End =================-->

    <!-- ================ tambah level form section start ================= -->

    <section class="contact-section area-padding">
            <div class="container">
              <div class="row">
                <div class="col-12">
                  <h2 class="contact-title">Tambah Level</h2>
                </div>
                <div class="col-lg-8">
                  <form  action="/tambahlevel-success/" method="POST">
                    {% csrf_token %}
                    <div class="row">
                      <div class="col-12">
                        <div class="form-group">
                            <label for="inputNamaLevel"><b>Nama Level</b></label>
                                <input name="nama_level" type="text" id="inputNamaLevel" class="form-control" required>

                        </div>
                      </div>

                      <div class="col-12">
                            <div class="form-group">
                                <label for="inputMinPoin"><b>Minimum Poin</b></label>
                                <input name="min_poin" type="text" id="inputMinPoin" class="form-control" required>
                            </div>
                          </div>

                    <div class="col-12">
                            <div class="form-group">
                                <label for="inputDeskripsi"><b>Deskripsi</b></label>
                                <input name="deskripsi" type="text" id="inputDeskripsi" class="form-control" required>
                            </div>
                          </div>
                      
                    </div>
                    <div class="form-group mt-3">
                      <button type="submit" class="button">Submit</button>
                    </div>
                  </form>
                </div>
        
                <div class="col-lg-4">
                    <img src="{% static 'img/banner/about2.png' %}" alt="">
                </div>
              </div>
            </div>
          </section>
          <!-- ================ tambah level form section end ================= -->

{% endblock %}