{% extends "base.html" %}
{% load static %}
{% block content %}
 
 <!--================Hero Banner Area Start =================-->
 <section class="hero-banner d-flex align-items-center">
        <div class="container text-center">
            <h2>Profil</h2>
            <nav aria-label="breadcrumb" class="banner-breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Profil</li>
                </ol>
            </nav>
        </div>
    </section>
    <!--================Hero Banner Area End =================-->

    <!-- ================ tambah level form section start ================= -->

    <section class="contact-section area-padding">
            <div class="container">
              <div class="row">
                <div class="col-12">
                  <h2 class="contact-title">Profil</h2>
                </div>
                <div class="col-lg-8">
                  <ul class="form-contact contact_form" style="list-style : none;">
                    <div class="row">
                    
                      <div class="col-12">
                        <ul class="form-group">
                            <pre>Jenis Akun    : {{ request.session.jenis_akun }}</pre>
                        </ul>
                      </div>
                      
                      <div class="col-12">
                        <ul class="form-group">
                            <pre>No. KTP       : {{ request.session.no_ktp }}</pre>
                        </ul>
                      </div>

                      <div class="col-12">
                        <ul class="form-group">
                            <pre>Nama          : {{ request.session.nama_lengkap }}</pre>
                        </ul>
                      </div>

                      <div class="col-12">
                        <ul class="form-group">
                            <pre>Email         : {{ request.session.email }}</pre>
                        </ul>
                      </div>
                      
                      <div class="col-12">
                        <ul class="form-group">
                            <pre>Tanggal Lahir : {{ request.session.tanggal_lahir }}</pre>
                        </ul>
                      </div>
                      
                      <div class="col-12">
                        <ul class="form-group">
                            <pre>No. Telepon   : {{ request.session.no_telp }}</pre>
                        </ul>
                      </div>
                      
                    </div>
                  </div>
        
                <div class="col-lg-4">
                    <img src="{% static 'img/banner/about2.png' %}" alt="">
                </div>
              </div>
            </div>
          </section>
          <!-- ================ tambah level form section end ================= -->

{% endblock %}