{% load static %}

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="{% static 'img/icon/toysicon.png' %}" type="image/png">
    <title>TOYSRENT</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/fontawesome/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/owl-carousel/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/animate-css/animate.css' %}">
    <!-- main css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
</head>
<body>

    <!--================Header Menu Area =================-->
    <header class="header_area">	
        <div class="main_menu">
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <a class="navbar-brand logo_h" href="#">ToysRent</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                        <ul class="nav navbar-nav menu_nav ml-auto">
                            <li class="nav-item submenu dropdown">
                                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Item</a>
                                    <ul class="dropdown-menu">
                                        {% if request.session.jenis_akun == 'admin'%}
                                        <li class="nav-item"><a class="nav-link" href="{% url 'tambahitem' %}">Tambah Item</a></li> 
                                        {% endif %}
                                        <li class="nav-item"><a class="nav-link" href="{% url 'daftaritem' %}">Daftar Item</a></li>
                                    </ul>
                                </li> 
                            
                                <li class="nav-item submenu dropdown">
                                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Barang</a>
                                        <ul class="dropdown-menu">
                                            {% if request.session.jenis_akun == 'admin'%}
                                            <li class="nav-item"><a class="nav-link" href="{% url 'tambahbarang' %}">Tambah Barang</a></li> 
                                            {% endif %}
                                            <li class="nav-item"><a class="nav-link" href="{% url 'daftarbarang' %}">Daftar Barang</a></li>
                                        </ul>
                                    </li>
                                    {% if request.session.jenis_akun == 'admin'%}
                                    <li class="nav-item submenu dropdown">
                                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Level</a>
                                            <ul class="dropdown-menu">
                                                <li class="nav-item"><a class="nav-link" href="{% url 'tambahlevel' %}">Tambah Level</a></li> 
                                                <li class="nav-item"><a class="nav-link" href="{% url 'daftarlevel' %}">Daftar Level</a></li>
                                            </ul>
                                        </li>
                                        {% endif %}
                                    <li class="nav-item submenu dropdown">
                                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pesanan</a>
                                            <ul class="dropdown-menu">
                                                <li class="nav-item"><a class="nav-link" href="{% url 'pemesanan' %}">Buat Pesanan</a></li> 
                                                <li class="nav-item"><a class="nav-link" href="{% url 'daftarpemesanan' %}">Daftar Pesanan</a></li>
                                            </ul>
                                        </li>

                                        <li class="nav-item submenu dropdown">
                                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pengiriman</a>
                                                <ul class="dropdown-menu">
                                                    <li class="nav-item"><a class="nav-link" href="{% url 'tambahpengiriman' %}">Buat Pengiriman</a></li> 
                                                    <li class="nav-item"><a class="nav-link" href="{% url 'daftarpengiriman' %}">Daftar Pengiriman</a></li>
                                                </ul>
                                            </li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'chat' %}">Chat</a></li>     
                            <li class="nav-item"><a class="nav-link" href="{% url 'daftarreview' %}">Review</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'profil' %}">Profil</a></li>
                        </ul>
                    </div>
                    <div class="right-button">
                        <ul>
                            {% if request.session.jenis_akun %}
                                {% if request.session.jenis_akun == "pengguna" %}
                                    <li><a class="sign_up" href="{% url 'logout' %}">Sign Out</a></li>
                                {% else %}
                                    <li><a class="sign_up" href="{% url 'logout' %}">Sign Out</a></li>
                            {% endif %}
                            {% else %}
                                <li><a class="sign_up" href="{% url 'login' %}">Sign In</a></li>
                            {% endif %}
                        </ul>
                    </div> 
                </div>
            </nav>
        </div>
    </header>
    <!--================Header Menu Area =================-->
    
    {% block content %}
    {% endblock %}

    <!-- ================ start footer Area ================= -->
    <br>
    <br>
    <footer class="footer-area">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-sm-6 mb-4 mb-xl-0 single-footer-widget">
                    <h4>Tentang Kami</h4>
                    <p>Rasakan bermain dengan mainan-mainan impianmu tanpa banyak biaya!</p>
                    <div class="footer-logo">
                        <h4>TOYSRENT</h4>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6 mb-4 mb-xl-0 single-footer-widget">
                    <h4>Contact Info</h4>
                    <div class="footer-address">
                        <p>Alamat: Fakultas Ilmu Komputer, Universitas Indonesia</p>
                        <span>Phone : +8880 44338899</span>
                        <span>Email : info@d12.com</span>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6 mb-4 mb-xl-0 single-footer-widget">
                    <h4>Link Penting</h4>
                    <ul>
                        <li><a href="#">Daftar Item</a></li>
                        <li><a href="#">Daftar Barang</a></li>
                        <li><a href="#">Daftar Level</a></li>
                        <li><a href="#">Daftar Pesanan</a></li>
                        <li><a href="#">Daftar Pengiriman</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-8 mb-4 mb-xl-0 single-footer-widget">
                    <h4>Newsletter</h4>
                    <p>Tulis email kamu untuk update mainan terbaru dari kami!</p>

                    <div class="form-wrap" id="mc_embed_signup">
                        <form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                        method="get">
                        <div class="input-group">
                            <input type="email" class="form-control" name="EMAIL" placeholder="Your Email Address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Email Address '">
                            <div class="input-group-append">
                                <button class="btn click-btn" type="submit">
                                    <i class="fab fa-telegram-plane"></i>
                                </button>
                            </div>
                        </div>
                        <div style="position: absolute; left: -5000px;">
                            <input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
                        </div>

                        <div class="info"></div>
                    </form>
                </div>

            </div>
        </div>
        <div class="footer-bottom row align-items-center text-center text-lg-left no-gutters">
            <p class="footer-text m-0 col-lg-8 col-md-12"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Basdat D12 - Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
            <div class="col-lg-4 col-md-12 text-center text-lg-right footer-social">
                <a href="#"><i class="ti-facebook"></i></a>
                <a href="#"><i class="ti-twitter-alt"></i></a>
                <a href="#"><i class="ti-dribbble"></i></a>
                <a href="#"><i class="ti-linkedin"></i></a>
            </div>
        </div>
    </div>
</footer>
<!-- ================ End footer Area ================= -->


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->

<script src="{% static 'js/jquery-2.2.4.min.js' %}"></script>
<script src="{% static 'js/popper.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'vendors/owl-carousel/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
<script src="{% static 'js/waypoints.min.js' %}"></script>
<script src="{% static 'js/mail-script.js' %}"></script>
<script src="{% static 'js/contact.js' %}"></script>
<script src="{% static 'js/jquery.form.js' %}"></script>
<script src="{% static 'js/jquery.validate.min.js' %}"></script>
<script src="{% static 'js/mail-script.js' %}"></script>
<script src="{% static 'js/theme.js' %}"></script>
    
</body>
</html>