{% extends "base.html" %}
{% load static %}
{% block content %}

<!--================Hero Banner Area Start =================-->
<section class="hero-banner d-flex align-items-center">
        <div class="container text-center">
            <h2>Daftar Item</h2>
            <nav aria-label="breadcrumb" class="banner-breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Daftar Item</li>
                </ol>
            </nav>
        </div>
    </section>
    <!--================Hero Banner Area End =================-->

    <!-- ================ daftar level section start ================= -->
    <br><br>
            <div class="container">
              <div class="row">
                <div class="col-12">
                  <h2 class="contact-title">Daftar Item</h2>
                </div>
                <div class="col-lg-12">
                        <table class="table text-center">
                                <thead>
                                  <tr style="color:black">
                                    <th scope="col">No</th>
                                    <th scope="col">Nama Item</th>
                                    <th scope="col">Kategori</th>
                                    <th scope="col">Action</th>
                                    {% if request.session.jenis_akun == 'admin' %}
                                    <th scope="col">Action Admin</th>
                                    {% endif %}
                                  </tr>
                                </thead>
                                <tbody style="color:black">
                                  {% for i in item %}
                                  <tr>
                                    <th scope="row">{{ forloop.counter }}</th>
                                    <td>{{ i.0 }}</td>
                                    <td>{{ i.1 }}</td>
                                    <td><button type="button" class="btn btn-light btn-xs" data-toggle="modal" data-target="#update1"><i class="fa fa-bars"></i></button></td>
                                    {% if request.session.jenis_akun == 'admin' %}
                                    <td><button type="button" class="btn btn-light btn-xs" data-toggle="modal" data-target="#update1"><i class="far fa-edit"></i></button>
                                        <button type="button" class="btn btn-danger btn-xs" data-toggle="modal" data-target="#myModal"><i class="fas fa-trash"></i></button>
                                        
                                    </td>
                                    {% endif %}
                                  </tr>
                                  {% endfor %}
                                </tbody>
                        </table>
                </div>        
              </div>
            </div>
          </section>

    <!-- ================ daftar level section end ================= -->

    <!-- ================ MODAL  ================= -->

    <div class="modal fade" id="update1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">Update Item</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                        <div class="col-lg-12">
                                <form class="form-contact contact_form" action="#" method="post" id="contactForm">
                                  <div class="row">
                                    <div class="col-12">
                                      <div class="form-group">
                                          {{forms.nama}}
                                      </div>
                                      <div class="form-group">
                                            {{forms.deskripsi}}
                                        </div>
                                        <div class="form-group">
                                            {{forms.rentang}}
                                        </div>
                                        <div class="form-group">
                                            {{forms.bahan}}
                                        </div>
                                        <div class="form-group">
                                            {{forms.kategori}}
                                        </div>
                                    </div>
                                  </div>
                                  <button type="submit" class="button" style="width: 100%;">Update</button>
                                </form>
                        </div>
                </div>
              </div>
            </div>
          </div>

{% endblock %}