{% extends "base.html" %}
{% load static %}
{% block content %}
 
 <!--================Hero Banner Area Start =================-->
 <section class="hero-banner d-flex align-items-center">
        <div class="container text-center">
            <h2>Tambah Item</h2>
            <nav aria-label="breadcrumb" class="banner-breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Tambah Item</li>
                </ol>
            </nav>
        </div>
    </section>
    <!--================Hero Banner Area End =================-->

    <!-- ================ tambah level form section start ================= -->

    <section class="contact-section area-padding">
            <div class="container">
              <div class="row">
                <div class="col-12">
                  <h2 class="contact-title">Tambah Item</h2>
                </div>
                <div class="col-lg-8">
                  <form class="form-contact contact_form" action="#" method="post" id="contactForm">
                    {% csrf_token %}
                    <div class="row">
                      <div class="col-12">
                        <div class="form-group">
                            {{forms.nama}}
                        </div>
                      </div>

                      <div class="col-12">
                            <div class="form-group">
                                {{forms.deskripsi}}
                            </div>
                          </div>

                    <div class="col-12">
                            <div class="form-group">
                                {{forms.rentang1}}
                            </div>
                          </div>
                          
                    <div class="col-12">
                            <div class="form-group">
                                {{forms.rentang2}}
                            </div>
                          </div>
                    
                    <div class="col-12">
                            <div class="form-group">
                                {{forms.bahan}}
                            </div>
                          </div>
                    
                    <div class="col-12">
                            <div class="form-group">
                                {{forms.kategori}}
                            </div>
                          </div>
                      
                    </div>
                    <div class="form-group mt-3">
                      <button onclick="additem()" type="submit" class="button">Submit</button>
                    </div>
                  </form>
        
        
                </div>
        
                <div class="col-lg-4">
                    <img src="{% static 'img/banner/about2.png' %}" alt="">
                </div>
              </div>
            </div>
          </section>
          <!-- ================ tambah level form section end ================= -->
          
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script>
        function additem(){
            var $crf_token = $('[name="csrfmiddlewaretoken"]').attr('value');
            name = $('#name').val()
            desc = $('#desc').val()
            age1 = $('#age1').val()
            age2 = $('#age2').val()
            bahan = $('#bahan').val()
            kategori =  $('#kategori').val()
            $.ajax({
                type: "POST",
                url: "{% url 'postItem' %}",
                data: {
                    name : name,
                    desc : desc,
                    age1 : age1,
                    age2 : age2,
                    bahan : bahan,
                    kategori =  kategori,
                    },
                headers:{"X-CSRFToken": $crf_token},
                success: function () {
                    alert(kategori)
                },
                error: function () {
                    alert(kategori)
                }
            });
        }
    </script>

{% endblock %}