{% extends "base.html" %}
{% load static %}
{% block content %}

    <!--================Home Banner Area =================-->
    <section class="home_banner_area">
        <div class="banner_inner d-flex align-items-center">
            <div class="overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 offset-lg-6 col-xl-5 offset-xl-7">
                        <div class="banner_content">
                            <h3>Rent A Toy<br/> and Own The Joy</h3>
                            <p>Rasakan bermain dengan mainan-mainan impianmu tanpa banyak biaya!</p>
                            <a class="banner_btn" href="#">Lihat Mainan<i class="ti-arrow-right"></i></a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!--================End Home Banner Area =================-->

    <!--================Service  Area =================-->
    <section class="service-area area-padding">
        <div class="container">
            <div class="row">
                <!-- Single service -->
                <div class="col-md-6 col-lg-4">
                    <div class="single-service">
                        <div class="service-icon">
                            <i class="ti-pencil-alt"></i>
                        </div>
                        <div class="service-content">
                            <h5>Terpercaya</h5>
                            <p>TOYSRENT telah memenangkan sejumlah penghargaan nasional maupun internasional dengan beberapa kategori seperti website terpercaya nomor satu di dunia, website pertama yang paling lengkap menyediakan kebutuhan mainan dan banyak lainnya.
                                Hal tersebut yang membuat TOYSRENT terus berada di hati masyarakat.
                            </p>
                        </div>
                    </div>
                </div>

                <!-- Single service -->
                <div class="col-md-6 col-lg-4">
                    <div class="single-service">
                        <div class="service-icon">
                            <i class="ti-image"></i>
                        </div>
                        <div class="service-content">
                            <h5>Mainan yang Mendunia</h5>
                            <p>Kami menyediakan segala macam permainan, mulai dari permainan lokal daerah asli Indonesia maupun mainan-mainan produksi asing. Segala jenis mainan dapat kamu temukan di TOYSRENT.</p>
                        </div>
                    </div>
                </div>


                <!-- Single service -->
                <div class="col-md-6 col-lg-4">
                    <div class="single-service">
                        <div class="service-icon">
                            <i class="ti-headphone-alt"></i>
                        </div>
                        <div class="service-content">
                            <h5>Kustomer sebagai Prioritas</h5>
                            <p>Kebahagiaan kostumer merupakan prioritas kami. Di TOYSRENT, kami akan selalu berusaha menjadikan kostumer nomor satu, karena kepuasan kostumer adalah sumber kebahagiaan kami.</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!--================Service Area end =================-->


    <!--================About  Area =================-->
    <section class="about-area area-padding-bottom">
        <div class="container">
            <div class="row align-items-center">

                <div class="col-lg-6">
                    <div class="area-heading">
                        <h4>Pelayanan<br> 24 jam Non-Stop.</h4>
                        <h6>Mendadak butuh mainan? Tenang, TOYSRENT selalu siaga! </h6>

                        <p>TOYSRENT akan selalu siap siaga memenuhi kebutuhan kostumer 24 jam setiap hari non-stop. 
                            Seluruh kebutuhan mainan kostumer akan secepat mungkin kami proses.
                        </p>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-lg-6">
                            <div class="single-about">
                                <div class="about-icon">
                                    <i class="ti-thought"></i>
                                </div>
                                <div class="single-about-content">
                                    <h5>Admin Compatibility</h5>
                                    <p>Kami akan selalu siap sedia menjawab pertanyaan kostumer, menerima pesanan, dan melayani kostumer 24 jam.
                                        Tidak perlu khawatir lagi karena waktu.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6">
                            <div class="single-about">
                                <div class="about-icon">
                                    <i class="ti-truck"></i>
                                </div>
                                <div class="single-about-content">
                                    <h5>On Time Delivery</h5>
                                    <p>Begitu proses selesai, kami akan segera memprosesnya dan mengirimnya ke rumah kostumer hari itu juga.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================About Area End =================-->

    <!--================Feature  Area =================-->
    <section class="feature-area area-padding bg_one">
        <div class="container">
            <div class="row align-items-center">

                <div class="offset-lg-6 col-lg-6">
                    <div class="area-heading light">
                        <h4>Mendapat Mainan <br>hanya dari Genggaman Tangan</h4>
                        <p>Tidak perlu lagi repot-repot pergi mencari mainan, cukup dari genggaman tangan kamu saja, tanpa harus berpindah tempat, mainan yang kamu inginkan akan didapat.</p>
                    </div>
                    <div class="row">
                        <div class="col-">
                            <div class="single-feature d-flex">
                                <div class="feature-icon">
                                    <i class="ti-layers"></i>
                                </div>
                                <div class="single-feature-content">
                                    <h5>Admin 24 jam</h5>
                                    <p>Tidak perlu sungkan bertanya atau pesan di malam hari, para admin kami selalu sedia memenuhi kebutuhan kalian.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-">
                            <div class="single-feature d-flex">
                                <div class="feature-icon">
                                    <i class="ti-layers"></i>
                                </div>
                                <div class="single-feature-content">
                                    <h5>25,000 mainan</h5>
                                    <p>Tidak perlu khawatir tidak menemukan mainan yang dicari. Kami menyediakan 25.000 mainan dengan jumlah masing-masing mainan yang sangat banyak.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================Feature Area End =================-->


    <!--================About  Area =================-->
    <section class="statics-area area-padding">
        <div class="container">
            <div class="row">

                <div class="col-lg-5">
                    <div class="image-box">
                        <img src="{% static 'img/banner/about3.png' %}" alt="">
                    </div>
                </div>

                <div class="offset-lg-1 col-lg-6">
                    <div class="area-heading">
                        <h4>Menyediakan<br>Produk Internasional. </h4>
                        <h6>Seluruh mainan mancanegara, disini tempatnya! </h6>

                        <p>Kami menyediakan 45000 total produk dengan 210 kategori dari berbagai mancanegara.</p>
                    </div>
                    <div class="single-data">
                        <i class="ti-paint-bucket"></i>
                        <p>Barang original. Tidak palsu.</p>
                    </div>
                    <div class="single-data">
                        <i class="ti-check-box"></i>
                        <p>Pelayanan sudah terpercaya. </p>
                    </div>
                    <div class="single-data">
                        <i class="ti-ruler-pencil"></i>
                        <p>Arsip pendataan selalu lengkap sehingga tidak mungkin meleset.</p>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!--================About Area End =================-->





    <!-- ================ Start Portfolio Area =================-->
    <!-- <section class="pricing_area area-padding-top">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="area-heading">
                        <h4>Biaya? Bukan Masalah </h4>
                        <p>Kami menyediakan dengan harga terjangkau.</p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="single-pricing">
                        <div class="pricing-icon">
                            <i class="ti-home"></i>
                        </div>
                        <div class="single-pricing-content">
                            <h5>Standard</h5>
                            <h4>$25<span class="currency_line">/</span><span>month</span></h4>
                            <ul>
                                <li>2GB Bandwidth</li>
                                <li>Two Account</li>
                                <li>15GB Storage</li>
                                <li>Sale After Service</li>
                                <li>3 Host Domain</li>
                                <li>24/7 Support</li>
                            </ul>
                            <a href="#">Purchase Now</a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-3">
                    <div class="single-pricing">
                        <div class="pricing-icon">
                            <i class="ti-bag"></i>
                        </div>
                        <div class="single-pricing-content">
                            <h5>Business</h5>
                            <h4>$35<span class="currency_line">/</span><span>month</span></h4>
                            <ul>
                                <li>2GB Bandwidth</li>
                                <li>Two Account</li>
                                <li>15GB Storage</li>
                                <li>Sale After Service</li>
                                <li>3 Host Domain</li>
                                <li>24/7 Support</li>
                            </ul>
                            <a href="#">Purchase Now</a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-3">
                    <div class="single-pricing">
                        <div class="pricing-icon">
                            <i class="ti-car"></i>
                        </div>
                        <div class="single-pricing-content">
                            <h5>Premium</h5>
                            <h4>$45<span class="currency_line">/</span><span>month</span></h4>
                            <ul>
                                <li>2GB Bandwidth</li>
                                <li>Two Account</li>
                                <li>15GB Storage</li>
                                <li>Sale After Service</li>
                                <li>3 Host Domain</li>
                                <li>24/7 Support</li>
                            </ul>
                            <a href="#">Purchase Now</a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-3">
                    <div class="single-pricing">
                        <div class="pricing-icon">
                            <i class="ti-gift"></i>
                        </div>
                        <div class="single-pricing-content">
                            <h5>Ultimate</h5>
                            <h4>$55<span class="currency_line">/</span><span>month</span></h4>
                            <ul>
                                <li>2GB Bandwidth</li>
                                <li>Two Account</li>
                                <li>15GB Storage</li>
                                <li>Sale After Service</li>
                                <li>3 Host Domain</li>
                                <li>24/7 Support</li>
                            </ul>
                            <a href="#">Purchase Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <!--================ End Pricing Area ================= -->



    <!-- ================ Start Blog Area =================-->
    <!-- <section class="latest-blog-area area-padding">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="area-heading">
                        <h4>Read Our Latest News</h4>
                        <p>Life firmament under them evening make after called dont saying likeness<br> isn't wherein also forth she'd air two without</p>
                    </div>           
                </div>
            </div>

            <div class="row">
                <div class="col-lg-8 col-md-6 ">
                    <div class="single-blog full_image">
                        <div class="thumb">
                            <img class="img-fluid w-100" src="{% static 'img/blog/1.png' %}" alt="">
                        </div>
                        <div class="single-blog-content">
                            <p class="tag">Software / Business</p>
                            <p class="date">March 10, 2019</p>
                            <h4>
                                <a href="#">Appear called is blessed good void had given from <br>
                                which Lights Saying image.</a>
                            </h4>
                            <div class="meta-bottom d-flex">
                                <p class="likes"><i class="ti-comments"></i> 02 Comments</p>
                                <p><i class="ti-heart"></i> 15 </p>
                            </div>

                        </div>

                    </div>

                </div>


                <div class="col-lg-4 col-md-6 ">
                    <div class="single-blog">
                        <div class="thumb">
                            <img class="img-fluid w-100" src="{% static 'img/blog/2.png' %}" alt="">
                        </div>
                        <div class="single-blog-content">
                            <p class="tag">Software / Business</p>
                            <p class="date">March 10, 2019</p>
                            <h4>
                                <a href="#">You living thing whose After
                                our third you also Us.</a>
                            </h4>
                            <div class="meta-bottom d-flex">
                                <p class="likes"><i class="ti-comments"></i> 02 Comments</p>
                                <p><i class="ti-heart"></i> 15 </p>
                            </div>

                        </div>
                    </div>

                </div>

                <div class="col-lg-4 col-md-6 ">
                    <div class="single-blog">
                        <div class="thumb">
                            <img class="img-fluid w-100" src="{% static 'img/blog/1.png' %}" alt="">
                        </div>
                        <div class="single-blog-content">
                            <p class="tag">Software / Business</p>
                            <p class="date">March 10, 2019</p>
                            <h4>
                                <a href="#">You living thing whose After
                                our third you also Us.</a>
                            </h4>
                            <div class="meta-bottom d-flex">
                                <p class="likes"><i class="ti-comments"></i> 02 Comments</p>
                                <p><i class="ti-heart"></i> 15 </p>
                            </div>

                        </div>
                    </div>

                </div>


                <div class="col-lg-8 col-md-6">
                    <div class="single-blog full_image">
                        <div class="thumb">
                            <img class="img-fluid w-100" src="{% static 'img/blog/4.png' %}" alt="">
                        </div>
                        <div class="single-blog-content">
                            <p class="tag">Software / Business</p>
                            <p class="date">March 10, 2019</p>
                            <h4>
                                <a href="#">You living thing whose After
                                our third you also Us.</a>
                            </h4>
                            <div class="meta-bottom d-flex">
                                <p class="likes"><i class="ti-comments"></i> 02 Comments</p>
                                <p><i class="ti-heart"></i>15</p>
                            </div>

                        </div>
                    </div>
                </div>


            </div>
        </div>
    </section> -->
    <!--================ End Blog Area ================= -->


    <!--================ Start Brands Area =================-->
    <!-- <section class="brands-area area-padding-bottom">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="owl-carousel brand-carousel"> -->
                        <!-- single-brand -->
                        <!-- <div class="single-brand-item d-table">
                            <div class="d-table-cell">
                                <img src="{% static 'img/logo/1.png' %}" alt="">
                            </div>
                        </div> -->
                        <!-- single-brand -->
                        <!-- <div class="single-brand-item d-table">
                            <div class="d-table-cell">
                                <img src="{% static 'img/logo/2.png' %}" alt="">
                            </div>
                        </div> -->
                        <!-- single-brand -->
                        <!-- <div class="single-brand-item d-table">
                            <div class="d-table-cell">
                                <img src="{% static 'img/logo/3.png' %}" alt="">
                            </div>
                        </div> -->
                        <!-- single-brand -->
                        <!-- <div class="single-brand-item d-table">
                            <div class="d-table-cell">
                                <img src="{% static 'img/logo/4.png' %}" alt="">
                            </div>
                        </div> -->
                        <!-- single-brand -->
                        <!-- <div class="single-brand-item d-table">
                            <div class="d-table-cell">
                                <img src="{% static 'img/logo/5.png' %}" alt="">
                            </div>
                        </div> -->
                        <!-- single-brand -->
                        <!-- <div class="single-brand-item d-table">
                            <div class="d-table-cell">
                                <img src="{% static 'img/logo/3.png' %}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <!--================ End Brands Area =================-->


{% endblock %}